layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="aoc" cwd="~/Desktop/Misc/Python/advent-of-code/2025/day12/" split_direction="vertical" {
        pane stacked=true {
            pane size="70%" name="EDIT" command="nu" {
                args "-c" "exec $env.EDITOR -- main.py input.txt test.txt"
            }
            pane name="SHELL"
        }
        pane split_direction="horizontal" {
            pane stacked=true {
                pane command="uv" start_suspended=true name="TEST" {
                    args "run" "--python" "pypy3" "main.py" "test"
                }
                pane command="uv" start_suspended=true name="REAL" {
                    args "run" "--python" "pypy3" "main.py"
                }
            }
            pane command="nu" start_suspended=true name="FETCH" {
                args "-c" "aocd | save -f input.txt"
            }
        }
    }
}
